<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
			PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
				   "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	 
	 <settings>
	 	<setting name="cacheEnabled" value="false" />
	 	<setting name="useGeneratedKeys" value="true" />
	 	<setting name="defaultExecutorType" value="REUSE" />
	 </settings>
	 
	 <typeAliases>
	 	<typeAlias alias="qVO" type="com.proj.pro.vo.QnaVO" />
	 	<typeAlias alias="sVO" type="com.proj.pro.vo.SalesVO" />
	 	<typeAlias alias="bVO" type="com.proj.pro.vo.BoardVO" />
	 	<typeAlias alias="lVO" type="com.proj.pro.vo.LoginVO" />
	 	<typeAlias alias="iVO" type="com.proj.pro.vo.InfoVO" />
	 	<typeAlias alias="fVO" type="com.proj.pro.vo.FileVO" />
	 	<typeAlias alias="Ufile" type="com.proj.pro.util.FileUtil" />
	 	<typeAlias alias="page" type="com.proj.pro.util.PageUtil" />
	 	<!-- <typeAlias alias="kVO" type="com.proj.pro.vo.KakaoPayReadyVO" /> -->
	 </typeAliases>
	 

	 <mappers>
	 	<mapper resource="com/proj/pro/sql/QnaSQL.xml" />
	 	<mapper resource="com/proj/pro/sql/SalesSQL.xml" />
	 	<mapper resource="com/proj/pro/sql/BoardSQL.xml" />
	 	<mapper resource="com/proj/pro/sql/LoginSQL.xml" />
	 	<mapper resource="com/proj/pro/sql/InfoSQL.xml" />
	 </mappers>
</configuration>